*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.logo{
    width:30px;
    height: 30px;
    position: relative;
    left: 10px;
}   

.nav{
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    height: 80px;
    width: 418px;
    position: relative;
    bottom: 10px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    position: relative;
    left: 112px;
    font-size: 12px;
    top: 2px;
}
a{
    color: black;
}

.main:hover{
    transition: all 0.7s;
    color: red;
    text-shadow: 2px 3px 10px red;
}
.contact:hover{
    transition: all 0.7s;
    color: red;
    text-shadow: 2px 3px 10px red;
}
.nomzodlar:hover{
    transition: all 0.7s;
    color: red;
    text-shadow: 2px 3px 10px red;
}
a:hover{
    color: red;
    transition: all 0.7s;
}
.photo1{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top: 120px;
    left: 110px;
    box-shadow: 0 0 30px red;
}
.nameprz{
    position: relative;
    top: 6px;
    right: 12px;
    width: 125px;
   
}
#przphoto{
    width: 100px;
    height: 100px;
}
.photo1:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 20px red;

}
.photo{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top: 50px;
    left: 110px;
    box-shadow: 0 0 30px red;
}
.photo:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 20px red;

}
.nametchr{
    position: relative;
    top: 6px;
    right: 18px;
    width: 300px;
   
}
#tchrphoto{
    width: 100px;
    height: 100px;
    
}
.photo2{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top:200px;
    left: 110px;
    box-shadow: 0 0 30px red;
}
.coordinator1{
width: 100px;
height: 100px;
}
.namecoor1{
    position: relative;
    top: 6px;
    right: 18px;
    width: 300px;
  
}
.photo2:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 20px red;
}
.coordinator1:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 20px red;
}
.photo3{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top: 270px;
    left: 110px;
    box-shadow: 0 0 30px red;
    text-align: center;
}
.coordinator2{
    width: 100px;
height: 100px;
}
.namecoor2{
    position: relative;
    width: 103px;
    right: 5px;
  
}
.photo3:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 20px red;
}
.photo4{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top: 330px;
    left: 110px;
    box-shadow: 0 0 30px red;
    text-align: center;
}
.namecoor3{
    position: relative;
    top: 3px;
    width: 116px;
    right: 4px;
}
.coordinator3{
    width: 100px;
    height: 100px;
}
.photo4:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 20px red;
}
.photo5{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top: 390px;
    left: 110px;
    box-shadow: 0 0 30px red;
    text-align: center;
}
.coordinator4{
    width: 100px;
    height: 100px;
}
.namecoor4{
    position: relative;
    right: 28px;
    width: 162px;
}
.photo5:hover{
    transition: all 0.5s;
    color: red;
    text-shadow: 20px 12px 20px red;
}

.photo6{
    border: 1px solid gainsboro;
    width: 102px;
    height: 102px;
    position: relative;
    top: 440px;
    left: 110px;
    text-align: center;
    box-shadow: 0 0 30px red;
}
.namecoor5{
    width: 138px;
    position: relative;
    top: 90px;
    right: 16px;
}
.photo6:hover{
    transition: all 0.5s;
    color: red;
    text-shadow: 20px 12px 20px red;
}
.footer{
    border: 1px solid gainsboro;
    color: black;
    font-size: 18px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    top: 550px;
    width: 338px;
    height: 80px;
}
footer ul{
    display: flex;
    gap: 10px;
    font-size: 12px;
    position: relative;
    left: 120px;
}
.nomzod{
text-align: center;
position: relative;
right: 510px;
top: 20px;
font-size: 14px;
}
.contacts{
    position: relative;
    top: 500px;
    font-size: 37px;
    text-align: center;
    font-weight: 300;
}
.contacts:hover{
    transition: 0.5s all;
    color: red;
    text-shadow: 20px 12px 30px red;
}
.insta{
    position: relative;
    top: 475px;
    left: 30px;
    width: 50px;
    height: 50px;
}
.tg{
    position: relative;
    top: 475px;
    left: 70px;
    width: 50px;
    height: 50px;
}
.call{
    position: relative;
    top: 500px;
    left: 90px;
    width: 100px;
    height: 100px;
}
